<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.resource.mapper.DatacenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdcplus.resource.entity.Datacenter">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="full_name" property="fullName" />
        <result column="address" property="address" />
        <result column="emergency_call" property="emergencyCall" />
        <result column="administrator_id" property="administratorId" />
        <result column="manager_id" property="managerId" />
        <result column="asset_admin_id" property="assetAdminId" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="type" property="type" />
        <result column="enabled" property="enabled" />
        <result column="create_by_id" property="createById" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, full_name, address, emergency_call, administrator_id, manager_id, asset_admin_id, longitude, latitude, type, enabled, create_by_id, update_time, create_time
    </sql>

</mapper>
